@import url(chrome://resources/css/roboto.css);

body {
    background-color: whitesmoke;
    color: black;
    font-family: Roboto, "DejaVu Sans", Arial, sans-serif;
    margin: auto;
    width: 80%;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    color: maroon;
}

.container {
    width: 80%;
    font-size: 1.2rem;
    margin: auto;
    justify-content: center;
    border-top: solid;
    border-bottom: solid;
    border-width: 0.1em;
    border-color: black;
    display: flex;
    flex-direction: column;
}

.meeting {
    margin: 0.2em;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
}

.title {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}

.present {
    width: 22.22%;
    justify-content: center;
}

.doc {
    width: 22.22%;
    justify-content: center;
}

.suggestion {
    width: 22.22%;
    justify-content: center;
}

.fname {
}

.info {
    display: none;
    color: gray;
    font-size: 0.5em;
}

.fname:hover + .info {
    display: inline-block;
}

.unlinked {
    display: inline-block;
    padding-right: 0.5em;
    color: lightgrey;
}

.linked {
    display: inline-block;
    padding-right: 0.5em;
}

a {
    text-decoration: none;
    color: darkred;
}

a:visited {
    color: maroon;
}

/* huge display */
@media (min-width: 1440px) {
    h1 {
        font-size: 1.8rem;
    }
    .container {
        width: 80%;
        font-size: 1.5rem;
    }
}

/* small display */
@media (max-width: 640px) {
    .container {
        width: 100%;
    }
}


/* tiny display */
@media (max-width: 480px) {
    .meeting {
        border-style: dotted;
        border-width: 0.1em;
        flex-direction: column;
    }
    .title .present .doc{
        width: 100%;
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
}
